.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.grid {
  -ms-grid-columns: 0.5fr 1fr 0.5fr;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  -ms-grid-rows: auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto;
}

.body {
  background-color: #ff8ba7;
}

.text-block {
  position: static;
  display: inline;
  margin-top: 87px;
  padding-top: 0px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  -webkit-transform: perspective(2000px);
  transform: perspective(2000px);
  direction: ltr;
  font-family: Roboto, sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  white-space: normal;
}

.image {
  position: absolute;
  left: 60px;
  top: 200px;
  z-index: -10;
  height: 250px;
  margin-top: 0px;
  -webkit-perspective: 0px;
  perspective: 0px;
}

.container {
  margin-top: 200px;
}

.div-block {
  margin-top: 100px;
  -webkit-perspective: 0px;
  perspective: 0px;
}

.container-2 {
  height: 200px;
}

.image-2 {
  width: 600px;
  margin-top: 37px;
  margin-left: 168px;
}

.text-block-2 {
  position: absolute;
  left: 120px;
  top: 278px;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  white-space: normal;
}

.section {
  padding-bottom: 345px;
}

.image-3 {
  position: absolute;
  left: auto;
  top: -24%;
  right: -2%;
  bottom: 0%;
  height: 250px;
  margin-top: 310px;
  margin-right: 111px;
}

.text-block-3 {
  position: absolute;
  left: auto;
  top: -23%;
  right: -2%;
  bottom: 0%;
  height: 100px;
  margin-top: 398px;
  margin-right: 185px;
  margin-left: 0px;
  padding-left: 0px;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.link-block {
  text-decoration: none;
}

.image-4 {
  position: absolute;
  left: 86px;
  top: 520px;
  right: auto;
  height: 300px;
}

.text-block-4 {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  margin-left: 276px;
  font-family: Roboto, sans-serif;
  color: #000;
  font-size: 34px;
  font-weight: 700;
}

.text-block-5 {
  position: absolute;
  left: 143px;
  top: 630px;
  right: auto;
  bottom: auto;
  z-index: 10;
  margin-top: 0px;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
}

.body-2 {
  background-color: #ff8ba7;
}

.image-5 {
  height: 200px;
  margin-top: 35px;
  margin-left: 125px;
}

.image-6 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  height: 380px;
  margin-top: 92px;
  margin-right: 350px;
}

.text-block-6 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  height: 150px;
  margin-top: 231px;
  margin-right: 500px;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 34px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
}

.container-3 {
  max-width: 50vw;
  margin-top: 218px;
}

.heading {
  font-family: Lato, sans-serif;
  font-size: 34px;
  font-weight: 700;
}

.paragraph {
  border-radius: 3px;
}

.text-block-7 {
  border: 3px dashed #000;
  border-radius: 6px;
}

.text-block-9 {
  width: auto;
  max-width: none;
  margin-top: 13px;
  border-style: dotted;
  border-width: 3px;
  border-color: #3255a4;
  border-radius: 7px;
  color: #3255a4;
  text-align: center;
}

.text-block-9-copy {
  width: auto;
  max-width: none;
  margin-top: 13px;
  border-style: dotted;
  border-width: 3px;
  border-color: #914e72;
  border-radius: 7px;
  color: #914e72;
  text-align: center;
}

.blackblock {
  width: auto;
  margin-top: 60px;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  border-style: dotted;
  border-width: 3px;
  border-color: #000;
  border-radius: 7px;
  color: #000;
  text-align: center;
  text-decoration: none;
}

.blackblock-copy {
  width: auto;
  max-width: none;
  margin-top: 13px;
  border-style: dotted;
  border-width: 3px;
  border-color: #000;
  border-radius: 7px;
  color: #000;
  text-align: center;
}

.link-block-2 {
  position: static;
  text-decoration: none;
}

.lightbox-link {
  margin-top: 30px;
}

.lightbox-link-2 {
  margin-top: 42px;
}

.lightbox-link-3 {
  margin-top: 30px;
}

.grid-2 {
  margin-right: 25px;
  margin-left: 72px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.image-7 {
  width: 500px;
}

.image-8 {
  width: 230px;
  margin-top: 68px;
  margin-left: 44px;
}

.image-9 {
  width: 300px;
  margin-left: 0px;
}

.image-10 {
  margin-top: -174px;
  margin-left: -209px;
}

.paragraph-2 {
  position: static;
  left: 20vw;
  top: 40%;
  right: 20vw;
  bottom: 0%;
  width: auto;
  max-width: 100vw;
  margin-top: 120px;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}

.image-11 {
  width: auto;
  margin-top: 54px;
  margin-left: auto;
}

.body-3 {
  background-color: #ff8ba7;
}

.image-12 {
  height: 200px;
  margin-left: 125px;
}

.container-4 {
  max-width: 50vw;
  margin-top: 112px;
}

.paragraph-3 {
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
}

.button {
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
  border: 2px dashed #000;
  border-radius: 11px;
  background-color: rgba(56, 152, 236, 0);
  font-family: Lato, sans-serif;
  color: #000;
}

.image-13 {
  position: absolute;
  left: auto;
  top: 10%;
  right: 17%;
  bottom: auto;
  width: 250px;
  margin-right: 21px;
}

.heading-2 {
  position: absolute;
  left: auto;
  top: 15%;
  right: 20%;
  bottom: auto;
  width: 200px;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 34px;
  line-height: 38px;
  text-align: center;
}

.heading-3 {
  margin-top: 50px;
  font-family: Lato, sans-serif;
  color: #333;
  text-align: center;
}

.image-14 {
  width: 650px;
  max-width: 100%;
  margin-left: 150px;
}

.link-block-3 {
  margin-left: 0px;
}

.container-5 {
  padding-bottom: 65px;
}

.paragraph-4 {
  font-family: Lato, sans-serif;
  font-size: 22px;
  line-height: 30px;
}

.section-2 {
  max-width: 100vw;
}

.heading-4 {
  font-family: Lato, sans-serif;
  font-size: 34px;
}

.container-7 {
  text-align: center;
}

.container-8 {
  text-align: center;
}

@media screen and (max-width: 479px) {
  .image {
    left: 145px;
    top: 184px;
    max-width: 50%;
  }
  .container {
    margin-top: 420px;
    margin-bottom: 20px;
  }
  .image-2 {
    height: 200px;
    margin-top: -35px;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
  }
  .text-block-2 {
    left: 164px;
    line-height: 16px;
    text-decoration: none;
  }
  .image-3 {
    max-width: 50%;
    margin-top: 298px;
    margin-right: 169px;
  }
  .text-block-3 {
    height: 100px;
    margin-top: 390px;
    font-size: 34px;
    line-height: 16px;
  }
  .image-4 {
    left: 136px;
    top: 825px;
    max-width: 50%;
    margin-left: -21px;
    padding-left: 0px;
  }
  .text-block-5 {
    left: 101px;
    top: 950px;
    line-height: 16px;
  }
  .image-5 {
    max-width: 100vw;
    margin-top: -35px;
    margin-bottom: 50px;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
  }
  .image-6 {
    left: 51px;
    right: auto;
  }
  .text-block-6 {
    left: 165px;
    top: 0%;
  }
  .container-3 {
    max-width: 90vw;
  }
  .blackblock {
    margin-top: 60px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .image-7 {
    margin-top: -22px;
    margin-left: 10px;
  }
  .image-8 {
    max-width: 200%;
    margin-top: -7px;
    margin-left: -52px;
  }
  .image-9 {
    margin-top: -47px;
    margin-left: 59px;
    opacity: 0;
  }
  .image-10 {
    max-width: 300%;
    margin-top: -31px;
    margin-left: -222px;
  }
  .paragraph-2 {
    left: 5vw;
    top: 45%;
    right: 5vw;
    overflow: visible;
    width: auto;
    margin-top: 220px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .image-11 {
    width: auto;
    padding-bottom: 20px;
  }
  .image-12 {
    margin-top: -35px;
    margin-bottom: 50px;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
  }
  .container-4 {
    max-width: 90vw;
  }
  .paragraph-3 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .button {
    margin-left: 80px;
    padding-right: 40px;
    padding-left: 40px;
  }
  .image-13 {
    margin-right: -81px;
    padding-top: 0px;
    padding-right: 22px;
  }
  .heading-2 {
    margin-right: -81px;
    padding-top: 1px;
    padding-right: 37px;
  }
  .heading-3 {
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
  }
  .image-14 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    padding-right: 12px;
    padding-left: 12px;
  }
  .container-6 {
    padding-bottom: 0px;
  }
  .heading-4 {
    margin-top: 35px;
    padding-right: 10px;
    padding-left: 10px;
    color: #000;
  }
  .container-8 {
    text-align: center;
  }
}

#w-node-ddea70f5d6eb-25098ce3 {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 4;
}

#w-node-c887477c9c84-25098ce3 {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
}

